@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.switch-field {
	display: flex;
	overflow: hidden;
	margin-left: 150px;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #1A374D;
	color: #B1D0E0;
	font-weight: 800;
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 18.5px;
	margin-right: -1px;
	margin-left: 11px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #6998AB;
	color: #1A374D;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}

.form {
	max-width: 100%;
	font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
	font-weight: normal;
	line-height: 1.625;
	margin: 8px auto;
	padding-left: 10%;
	z-index: 2;
}

h2 {
	font-size: 18px;
	margin-top: 0;
	margin-bottom: 8px;
	font-family: 'Noto Sans', sans-serif;
	color: #1A374D;
}
.area{
  font-family: 'Noto Sans', sans-serif;
  color: #B1D0E0;
  font-weight: 800;
  outline: 0;
  background: #1A374D;
  width: 300px;
  border: 0;
  margin: 0 0 10px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 15px;
  height: 35px;
  border-radius: 5px;
  margin-left: 4%;
}

.location{
  font-family: 'Noto Sans', sans-serif;
  outline: 0;
  background: #1A374D;
  color: #B1D0E0;
  font-weight: 800;
  width: 300px;
  border: 0;
  margin: 0 0 10px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 15px;
  height: 40px;
  margin-left: 25px;
  border-radius: 5px;
}

.submit{
  background: #6998AB;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 800;
  color: #1A374D;
  width: 503px;
  margin: 25px 0 10px;
  box-sizing: border-box;
  font-size: 15px;
  box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
	height: 35px;
	text-align: center;
	border-radius: 5px;
}

.result{
		  background: #6998AB;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 800;
  color: #1A374D;
		width: 503px;
		border: 0;
		margin: 0 0 10px;
		margin-top: 10px;
		box-sizing: border-box;
		font-size: 15px;
		height: 35px;
		text-align: center;
  border: 1px solid #1A374D;
}

body, html {
  height: 100%;
  margin: 0;
  background-color: #B1D0E0;
}

.display {
	display: inline-block;
}
.bhk_field{
	padding-top: 30px;
}
.city_list{
	width: 25%;
	margin-left: 10%;
}
main{
	padding-top: 1%;
	margin-left: 20%;
}
.heading{
	width: 100%;
	height: 100px;
	padding-bottom: 40px;
	padding-top: 50px;
	padding-left: 20%;
	background-color: #1A374D;
	margin-top: -50px;
}
h1{
	font-family: 'Noto Sans', sans-serif;
	font-size: 50px;
	color: #B1D0E0;
}
.bath {
	margin-left: 100px;
}